@model IEnumerable<GraphEntry>
@{
    ViewBag.Title = "Repository Graph";
}

@section headers
{
    <link href="@Url.Content("~/Content/graph.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/graph.js")"></script>
}

<div class="settings">
    <a id="show-graph-settings" href="#">Graph Settings</a>
    <div id="graph-settings">
        <table>
            <tr><th>Graph Alignment:</th><td><input name="align" type="radio" value="left" />Left <input name="align" type="radio" value="right" />Right</td></tr>
            <tr><th>Follow Contour:</th><td><input name="outline" type="checkbox" /></td></tr>
            <tr><th>Line Width:</th><td><div id="lineWidth" /></td></tr>
            <tr><th>Curved Lines:</th><td><input name="curveLine" type="checkbox" /></td></tr>
            <tr><th>Dot Radius:</th><td><div id="dotRadius" /></td></tr>
            <tr><th>Dot Border:</th><td><div id="dotBorder" /></td></tr>
            <tr><th>Column Width:</th><td><div id="colWidth" /></td></tr>
            <tr><th>Row Height:</th><td><div id="rowHeight" /></td></tr>
        </table>
    </div>
</div>

<div class="pager">
    @Html.Pager((int)ViewBag.Page, (int)ViewBag.PageCount, "Graph", "ViewGraph", new { repo = ViewBag.RepoName })
</div>

<div class="graph">
    <canvas id="graph-canvas" width="0" height="0">
    </canvas>
@foreach (var e in Model)
{
    <div class="graph-node" data-node="@e.Node" data-parent-nodes="@string.Join(",", e.ParentNodes)" data-incoming-nodes="@string.Join(",", e.IncomingNodes)">
        @foreach (var r in e.Refs)
        {
            <span class="git-ref @("git-ref-" + r.RefType.ToString().ToLower())">@r.Name</span>
        }

        @Html.ActionLink(string.IsNullOrWhiteSpace(e.LogEntry.Subject) ? "(no subject)" : e.LogEntry.Subject, "ViewCommit", "Browse", new { @object = e.LogEntry.CommitHash }, null)
    </div>
}
</div>

<div class="pager">
    @Html.Pager((int)ViewBag.Page, (int)ViewBag.PageCount, "Graph", "ViewGraph", new { repo = ViewBag.RepoName })
</div>
