@{
    ViewBag.Title = "Repository Graph";
}

@section headers
{
    <link href="@Url.Content("~/Content/graph.css")" rel="stylesheet" type="text/css" />
}

<div class="pager">
    @Html.Pager((int)ViewBag.Page, (int)ViewBag.PageCount, "Graph", "ViewGraph", new { repo = ViewBag.RepoName })
</div>

@foreach (var e in Model)
{
    <div>
        @foreach (var r in e.Refs)
        {
            <span class="git-ref @(r.RefType == RefType.Tag ? "git-ref-tag" : "git-ref-branch")">@r.Name</span>
        }

        @e.LogEntry.Subject
    </div>
}

<div class="pager">
    @Html.Pager((int)ViewBag.Page, (int)ViewBag.PageCount, "Graph", "ViewGraph", new { repo = ViewBag.RepoName })
</div>
