@{
    ViewBag.Title = "Repository Graph";
}

@section headers
{
    <link href="@Url.Content("~/Content/graph.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/graph.js")"></script>
}

<div class="pager">
    @Html.Pager((int)ViewBag.Page, (int)ViewBag.PageCount, "Graph", "ViewGraph", new { repo = ViewBag.RepoName })
</div>

<div class="graph">
@foreach (var e in Model)
{
    <div class="graph-node" data-hash="@e.LogEntry.CommitHash" data-incoming-hashes="@string.Join(",", e.IncomingHashes)">
        @foreach (var r in e.Refs)
        {
            <span class="git-ref @("git-ref-" + r.RefType.ToString().ToLower())">@r.Name</span>
        }

        @e.LogEntry.Subject
    </div>
}
</div>

<div class="pager">
    @Html.Pager((int)ViewBag.Page, (int)ViewBag.PageCount, "Graph", "ViewGraph", new { repo = ViewBag.RepoName })
</div>
