@using StackExchange.Profiling
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title | WebGit .NET</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    @RenderSection("headers", required: false)
    @{WriteTo(new StringWriter(), RenderSection("intellisense", required: false));}
    @MiniProfiler.RenderIncludes(showTrivial: true, showTimeWithChildren: true, position: RenderPosition.Right)
</head>

<body>
    <div id="header">
        <h1>@ViewBag.Title</h1>
        <div id="menucontainer">
            <ul id="menu">
                <li>@Html.ActionLink("Browse", "Index", "Browse")</li>
                <li>@Html.ActionLink("Create Repo", "Create", "Manage")</li>
            </ul>
        </div>
        @if (ViewBag.BreadCrumbs != null)
        {
            <div id="breadcrumber">
            @{
                bool first = true;
                foreach (var breadCrumb in (BreadCrumbTrail)ViewBag.BreadCrumbs)
                {
                    if (!first)
                    {
                        <span>&gt;</span>
                    }

                    @Html.ActionLink(breadCrumb.Name, breadCrumb.Action, breadCrumb.Controller, breadCrumb.RouteValues, null);

                    first = false;
                }
            }
            </div>
        }
    </div>

    <div id="main">
        @using (MiniProfiler.StepStatic("Rendering Body"))
        {
            @RenderBody()
        }
    </div>

    <div id="footer">
        Copyright &copy; @DateTime.Now.Year John Gietzen. All rights reserved.
    </div>
</body>
</html>
