@{
    ViewBag.Title = "Repository Impact";
    IEnumerable<dynamic> weekly = ViewBag.Weekly;
    IEnumerable<dynamic> allTime = ViewBag.AllTime;
}

@section intellisense
{
    <script src="~/Scripts/jquery-1.4.4-vsdoc.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js" type="text/javascript"></script>
    <script src="~/Scripts/g.raphael/raphael-min.js" type="text/javascript"></script>
    <script src="~/Scripts/g.raphael/g.raphael-min.js" type="text/javascript"></script>
    <script src="~/Scripts/g.raphael/g.pie-min.js" type="text/javascript"></script>
}

@{
    var users = new Dictionary<string, int>();
    Func<string, int> getUser = u =>
    {
        var un = u.ToUpperInvariant();
        int id;
        if (!users.TryGetValue(un, out id))
        {
            id = users.Count + 1;
            users[un] = id;
        }

        return id;
    };

    var epoch = new DateTime(1970, 1, 1);
    var buckets = (from w in weekly
                   select new
                   {
                       d = (w.Week - epoch).TotalSeconds,
                       i = (from i in (IEnumerable<dynamic>)w.Impacts
                            let user = getUser(i.Author)
                            orderby i.Impact descending
                            select new[] { user, i.Impact }).ToArray(),
                   }).ToArray();

    var authors = users.ToDictionary(a => a.Value.ToString(), a => new { n = a.Key });

    var json = new { authors, buckets };
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
}

@section headers
{
    <link href="@Url.Content("~/Content/tablesort.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.tablesorter.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/g.raphael/raphael-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/g.raphael/g.raphael-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/g.raphael/g.pie-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/g.raphael/g.impact.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var data = @Html.Raw(serializer.Serialize(json));

        $(function () {
            $(".tabs").tabs();
            $(".tablesorter").tablesorter();
        });
    </script>
    <script src="@Url.Content("~/Scripts/repo-impact.js")" type="text/javascript"></script>
    <style>
        #weekly-graph
        {
            overflow: auto;
            min-height: 400px;
        }
    </style>
}

<div class="tabs">
<ul>
    <li><a href="#users-dashboard">Dashboard</a></li>
    <li><a href="#users-details">Details</a></li>
    <li><a href="#weekly-graph">Weekly Impact</a></li>
</ul>
<div id="users-dashboard"></div>
<div id="users-details">
<table class="tablesorter" id="stats-table">
  <thead>
    <tr>
        <th>Author</th>
        <th>Commits</th>
        <th>Insertions</th>
        <th>Deletions</th>
        <th>Impact</th>
    </tr>
  </thead>
  <tbody>
@foreach (var item in allTime)
{
    <tr>
        <td>@item.Author</td>
        <td>@item.Commits</td>
        <td>@item.Insertions</td>
        <td>@item.Deletions</td>
        <td>@item.Impact</td>
    </tr>
}
  </tbody>
</table>
</div>
<div id="weekly-graph"></div>
</div>
