@model IList<RepoInfo>

@{
    ViewBag.Title = "Archived Repositories";
}

@section headers
{
    <link rel="alternate" type="application/atom+xml" href="@Url.Action("LastCommits", "Syndication")" title="Last Commit in All Repos" />
}

<div class="syndication">
    <a href="@Url.Action("LastCommits", "Syndication")">Last Commit in All Repos</a>
</div>

<div class="archived">
    <a href="@Url.Action("Index", "Browse")">View Current Repos</a>
</div>

<table>
  <tr><th>Repository</th><th>Description</th></tr>
@foreach (var repo in Model)
{
    if (repo.IsGitRepo)
    {
  <tr><td>@Html.ActionLink(repo.Name, "ViewRepo", new { repo = repo.Name })</td><td>@repo.Description</td></tr>
    }
    else
    {
  <tr><td>@repo.Name</td><td>(not a repository)</td></tr>
    }
}
</table>

<p>
  @Html.ActionLink("Create a new repo.", "Create", "Manage")
</p>
