@model IList<RepoInfo>

@{
    ViewBag.Title = "Repositories";
}

<div class="pull-right">
    @using (Html.BeginForm("Search", "Search", FormMethod.Get, new { @class = "form form-search" }))
    {
        <input class="search-query" type="text" name="q" /> <button class="btn" type="submit">Search All Repos</button>
    }
</div>

<table class="table table-bordered">
    <tr><th>Repository</th><th>Description</th></tr>
    @foreach (var repo in Model)
    {
        if (repo.IsGitRepo)
        {
            <tr><td>@Html.ActionLink(repo.Name, "ViewRepo", new { repo = repo.Name })</td><td>@repo.Description</td></tr>
        }
        else
        {
            <tr><td>@repo.Name</td><td>(not a repository)</td></tr>
        }
    }
</table>

<p>
    <a class="btn btn-link" href="@Url.Action("Create", "Manage")"><i class="icon-plus"></i> Create a new repo</a>
    <a class="btn btn-link" href="@Url.Action("ArchivedIndex", "Browse")"><i class="icon-folder-open"></i> View archived repos</a>
</p>
