@model IList<RepoInfo>

@{
    var archived = (bool)ViewBag.Archived;
    ViewBag.Title = archived ? "Archived Repositories" : "Repositories";
}

<div class="pull-right">
    @using (Html.BeginForm("Search", "Search", FormMethod.Get, new { @class = "form form-search" }))
    {
        <input class="search-query" type="text" name="q" /> <button class="btn" type="submit">Search All Repos</button>
    }
</div>

<table class="table table-bordered">
    <tr><th style="width: 1px;">Repository</th><th>Description</th></tr>
    @foreach (var repo in Model)
    {
        if (repo.IsGitRepo)
        {
            <tr><td style="white-space: nowrap;">@Html.ActionLink(repo.Name, "ViewRepo", new { repo = repo.Name })</td><td>@repo.Description</td></tr>
        }
        else
        {
            <tr><td style="white-space: nowrap;">@repo.Name</td><td>(not a repository)</td></tr>
        }
    }
</table>

<p>
    <a class="btn btn-link" href="@Url.Action("Create", "Manage")"><i class="icon-plus"></i> Create a new repo</a>
    @if (archived)
    {
        <a class="btn btn-link" href="@Url.Action("Index", "Browse")"><i class="icon-folder-open"></i> View current repos</a>
    }
    else
    {
        <a class="btn btn-link" href="@Url.Action("Index", "Browse", new { archived = "true" })"><i class="icon-folder-open"></i> View archived repos</a>
    }
</p>
