@model LogEntry
@{
    bool? showDetails = ViewBag.Details;
}
<div class="media well well-small">
    <a class="pull-left" href="mailto:@Model.AuthorEmail">@Html.Gravatar(Model.AuthorEmail, Model.Author, 64)</a>

    <div class="media-body">
        <div class="pull-right">
            <div>
                <span>commit:</span> @Html.ActionLink(Model.CommitHash, "ViewCommit", new { @object = Model.CommitHash })
            </div>
            <div>
                <span>tree:</span> @Html.ActionLink(Model.Tree, "ViewTree", new { @object = Model.Tree })
            </div>
            @foreach (var parent in Model.Parents)
            {
                <div>
                    <span>parent:</span> @Html.ActionLink(parent, "ViewCommit", new { @object = parent })
                </div>
            }
            <div>
                <span>author:</span> <a href="mailto:@Model.AuthorEmail">@Model.Author</a>
            </div>
            @if (Model.Author != Model.Committer ||
                 Model.AuthorEmail.Trim().ToLowerInvariant() != Model.CommitterEmail.Trim().ToLowerInvariant())
            {
                <div>
                    <span>committer:</span> <a href="mailto:@Model.CommitterEmail">@Model.Committer</a>
                </div>
            }
        </div>

        <h4 class="media-heading">@Html.Markdown(Model.Subject)</h4>
        @if (showDetails == true)
        {
          <p>@Html.Markdown(Model.Body)</p>
        }
        <div class="date" title="@Model.AuthorDate.ToString("u")">@Model.AuthorDate.ToString("u")</div>
    </div>
</div>