@model LogEntry
@{
    bool? showDetails = ViewBag.Details;
}
<div class="media well well-small">
    <a class="pull-left" href="mailto:@Model.AuthorEmail">@Html.Gravatar(Model.AuthorEmail, Model.Author, 64)</a>

    <div class="media-body">
        <div class="pull-right">
            <table class="commit-metadata">
                <tr><td>commit:</td><td>@Html.ActionLink(Model.CommitHash.Substring(0, 16), "ViewCommit", new { @object = Model.CommitHash })</td></tr>
                <tr><td>tree:</td><td>@Html.ActionLink(Model.Tree.Substring(0, 16), "ViewTree", new { @object = Model.Tree })</td></tr>
                @foreach (var parent in Model.Parents)
                {
                    <tr><td>parent:</td><td>@Html.ActionLink(parent.Substring(0, 16), "ViewCommit", new { @object = parent })</td></tr>
                }
                <tr><td>author:</td><td><a href="commitsadvanced?author=@Model.Author">@Model.Author</a></td></tr>
                @if (Model.Author != Model.Committer ||
                     Model.AuthorEmail.Trim().ToLowerInvariant() != Model.CommitterEmail.Trim().ToLowerInvariant())
                {
                    <tr><td>committer:</td><td><a href="mailto:@Model.CommitterEmail">@Model.Committer</a></td></tr>
                }
            </table>
        </div>

        <h4 class="media-heading">@Html.Markdown(Model.Subject)</h4>
        @if (showDetails == true)
        {
          <p>@Html.Markdown(Model.Body)</p>
        }
        <div class="date" title="@Model.AuthorDate.ToString("u")">@Model.AuthorDate.ToString("u")</div>
    </div>
</div>