@model IList<DiffInfo>
@{
    var commitLogEntry = (LogEntry)ViewBag.CommitLogEntry;
    ViewBag.Title = "View Commit";
}

@section headers
{
    <script src="@Url.Content("~/Scripts/jquery.timeago.min.js")"></script>
    <script>
        $(function () {
            $("div.date").timeago();
        });
    </script>
}

@Html.Partial("LogEntry", commitLogEntry, new ViewDataDictionary { { "Details", true } })

@foreach (var diff in Model)
{
    <div class="pull-right">@Html.ActionLink("view file", "ViewBlob", new { repo = (string)ViewBag.RepoName, @object = commitLogEntry.Tree, path = @diff.DestinationFile })</div>
    <div>
        <i class="icon-file"></i> /@diff.DestinationFile
        @if (diff.SourceFile != diff.DestinationFile)
        {
            @:(copied from /@diff.SourceFile)
        }
    </div>
    <div>
        <pre>@string.Join(Environment.NewLine, diff.Lines)</pre>
    </div>
}
