@model IEnumerable<UserImpact>

@{
    ViewBag.Title = "Repository Impact";
}

@section intellisense
{
    <script src="~/Scripts/jquery-1.4.4-vsdoc.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js" type="text/javascript"></script>
    <script src="~/Scripts/g.raphael/raphael-min.js" type="text/javascript"></script>
    <script src="~/Scripts/g.raphael/g.raphael-min.js" type="text/javascript"></script>
    <script src="~/Scripts/g.raphael/g.pie-min.js" type="text/javascript"></script>
}

@section headers
{
    <link href="@Url.Content("~/Content/tablesort.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.tablesorter.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/g.raphael/raphael-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/g.raphael/g.raphael-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/g.raphael/g.pie-min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $(".tablesorter").tablesorter();
        });
    </script>
}

@helper PieChart(string title, Dictionary<string, int> data, int width = 500, int height = 300)
{
    var legend = string.Join("|", data.Keys);
    var chartData = string.Join(",", data.Values);
    var sum = data.Values.Sum();
    var labels = string.Join("|", from d in data.Values select ((double)d/sum).ToString("P"));

    <img src="http://chart.apis.google.com/chart?chs=@(width)x@(height)&cht=p&chds=a&chd=t:@(chartData)&chdl=@(legend)&chdlp=l&chl=@(labels)&chtt=@(title)" />
}

<div class="impact-graphs">
    @PieChart("Commits", Model.ToDictionary(k => k.Author, k => k.Commits), width: 400, height: 200)
    @PieChart("Impact", Model.ToDictionary(k => k.Author, k => k.Impact), width: 400, height: 200)
</div>

<table class="tablesorter">
  <thead>
    <tr>
        <th>Author</th>
        <th>Commits</th>
        <th>Insertions</th>
        <th>Deletions</th>
        <th>Impact</th>
    </tr>
  </thead>
  <tbody>
@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Author)</td>
        <td>@Html.DisplayFor(modelItem => item.Commits)</td>
        <td>@Html.DisplayFor(modelItem => item.Insertions)</td>
        <td>@Html.DisplayFor(modelItem => item.Deletions)</td>
        <td>@Html.DisplayFor(modelItem => item.Impact)</td>
    </tr>
}
  </tbody>
</table>
