@model string
@{
    string fileName = ViewBag.FileName;
    string contentType = ViewBag.ContentType;
    string repoName = ViewBag.RepoName;
    string tree = ViewBag.Tree;
    string path = ViewBag.Path;

    ViewBag.Title = "View " + fileName;
}

@section headers
{
    <script src="@Url.Content("~/Scripts/jquery.background-position.min.js")"></script>
    <link href="@Url.Content("~/Content/browse.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/code.css")" rel="stylesheet" type="text/css" />
    <script>
        $(function () {
            (function animate_background() {
                $('.image-preview').css('backgroundPosition', '0px 0px').animate({ backgroundPosition: '32px 16px' }, 2000, 'linear', animate_background);
            })();
        });
    </script>
}
<div>
@tree / @path
</div>

<div class="blob-preview">
  <div class="preview-header">
    <div class="blob-content-type">@contentType</div>
    <div class="blob-raw-version-link">@Html.ActionLink("raw version", "ViewBlob", new { repo = repoName, @object = tree, path = path, raw = true })</div>
  </div>
  <div class="preview-contents">
@if (Model != null)
{
    if (string.IsNullOrWhiteSpace(Model))
    {
    <div class="preview-unavailable">File is empty.</div>
    }
    else
    {
    <div class="text-preview">
        @Html.HilightCode(Model, (string)ViewBag.FileName)
    </div>
    }
}
else if (contentType.StartsWith("image/"))
{
    <div class="image-preview">
      <img src="@Url.Action("ViewBlob", new { repo = repoName, @object = tree, path = path, raw = true })" />
    </div>
}
else
{
    <div class="preview-unavailable">Preview is unavailable.</div>
}
  </div>
</div>
