@model string
@{
    string fileName = ViewBag.FileName;
    string contentType = ViewBag.ContentType;
    string repoName = ViewBag.RepoName;
    string tree = ViewBag.Tree;
    string path = ViewBag.Path;

    ViewBag.Title = "View " + fileName;
}

@section headers
{
    <script src="@Url.Content("~/Scripts/jquery.background-position.min.js")"></script>
    <script>
        $(function () {
            (function animate_background() {
                $('.image-preview').css('backgroundPosition', '0px 0px').animate({ backgroundPosition: '32px 16px' }, 2000, 'linear', animate_background);
            })();
        });
    </script>
}

<div class="pull-right">@Html.ActionLink("raw version", "ViewBlob", new { repo = repoName, @object = tree, path = path, raw = true })</div>
<div><i class="icon-file"></i> /@path</div>

@if (Model != null)
{
    if (string.IsNullOrWhiteSpace(Model))
    {
        <div>File is empty.</div>
    }
    else
    {
        var language = MimeUtilities.GetLanguage(contentType);
        <div>
            <pre class="@(string.IsNullOrEmpty(language) ? "" : "prettyprint linenums lang-" + language)">@Model</pre>
        </div>
    }
}
else if (contentType.StartsWith("image/"))
{
    <div class="well">
        <img src="@Url.Action("ViewBlob", new { repo = repoName, @object = tree, path = path, raw = true })" />
    </div>
}
else
{
    <div>Preview is unavailable.</div>
}
