@{
    string repoName = ViewBag.RepoName;
    LogEntry lastCommit = ViewBag.LastCommit;
    TreeView currentTree = ViewBag.CurrentTree;

    ViewBag.Title = repoName;

    var requestUrl = Url.RequestContext.HttpContext.Request.Url;
    var repoUrl = requestUrl.Scheme + "://" + requestUrl.Authority + Url.Action("Fetch", "File", new { url = repoName });
}

@section headers
{
    <link href="@Url.Content("~/Content/browse.css")" rel="stylesheet" type="text/css" />
    <script>
        $(function () {
            $(".clone-info input").focus(function () { this.select(); });
        });
    </script>
}

<h2>@ViewBag.Title</h2>

<div class="repo-info">
  <table class="clone-info">
    <tr><th>Clone URL:</th><td>@Html.TextBox("clone-url", repoUrl)</td></tr>
    <tr><th>Clone Command:</th><td>@Html.TextBox("clone-command", "git clone " + repoUrl + (Uri.EscapeUriString(repoName) != repoName ? " \"" + repoName + "\"" : string.Empty))</td></tr>
  </table>
</div>

<div id="last-commit" class="page-section">
@if (lastCommit == null)
{
    <span class="empty-commit-history">There are no commits in this repository.</span>
}
else
{
<text>Last Commit:
@Html.Partial("LogEntry", lastCommit)
@Html.ActionLink("View Recent Commits", "ViewCommits")</text>
}
</div>

<div id="page-section">
@if (currentTree == null || currentTree.Objects.Count == 0)
{
    <span class="empty-tree">There are no files being tracked in this repository.</span>
}
else
{
@Html.Partial("ObjectTree", currentTree)
}
</div>
