@{
    ViewBag.Title = ViewBag.RepoName;

    LogEntry lastCommit = ViewBag.LastCommit;
    TreeView currentTree = ViewBag.CurrentTree;

    var requestUrl = Url.RequestContext.HttpContext.Request.Url;
    var repoUrl = requestUrl.Scheme + "://" + requestUrl.Authority + Url.Action("Fetch", "File", new { url = ViewBag.RepoName });
}

@section headers
{
    <link href="@Url.Content("~/Content/browse.css")" rel="stylesheet" type="text/css" />
}

<h2>@ViewBag.Title</h2>

<div class="repo-info">
  <table class="clone-info">
    <tr><th>Clone URL:</th><td>@Html.TextBox("clone-url", repoUrl)</td></tr>
    <tr><th>Clone Command:</th><td>@Html.TextBox("clone-command", "git clone " + repoUrl)</td></tr>
  </table>
</div>

<div id="last-commit" class="page-section">
@if (lastCommit == null)
{
<text><span class="empty-commit-history">There are no commits in this repository.</span></text>
}
else
{
<text>Last Commit:
@Html.Partial("LogEntry", lastCommit)</text>
}
</div>

@if (currentTree != null)
{
<div id="page-section">
@Html.Partial("ObjectTree", currentTree)
</div>
}
