@{
    string repoName = ViewBag.RepoName;
    LogEntry lastCommit = ViewBag.LastCommit;
    TreeView currentTree = ViewBag.CurrentTree;
    List<GitRef> refs = ViewBag.Refs;

    ViewBag.Title = repoName;

    var requestUrl = Url.RequestContext.HttpContext.Request.Url;
    var repoUrl = requestUrl.Scheme + "://" + requestUrl.Authority + Url.Action("Fetch", "File", new { url = repoName });
}

@section headers
{
    <script src="@Url.Content("~/Scripts/jquery.timeago.min.js")"></script>
    <link href="@Url.Content("~/Content/browse.css")" rel="stylesheet" type="text/css" />
    <script>
        $(function () {
            $(".clone-info input").focus(function () { this.select(); });
            $("div.date").timeago();
        });
    </script>
}

<h2>@ViewBag.Title</h2>

<table class="repo-info">
  <tr><th>Description: @Html.ActionLink("edit", "ManageRepo", "Manage", new { repoName }, null)</th><td>@ViewBag.Description</td></tr>
  <tr><th>Clone URL:</th><td>@Html.TextBox("clone-url", repoUrl)</td></tr>
  <tr><th>Clone Command:</th><td>@Html.TextBox("clone-command", "git clone " + repoUrl + (Uri.EscapeUriString(repoName) != repoName ? " \"" + repoName + "\"" : string.Empty))</td></tr>
</table>

<div id="last-commit" class="page-section">
@if (lastCommit == null)
{
    <span class="empty-commit-history">There are no commits in this repository.</span>
}
else
{
<text>Last Commit:
@Html.Partial("LogEntry", lastCommit)
@foreach (var route in Html.FindSatisfiableRoutes(new { repo = repoName }))
{
    <text>@Html.RouteLink(route.GetName(), route.GetName(), new { repo = repoName }) </text>
}</text>
}
</div>

@if (refs.Any())
{
<div class="page-section">
  Branches / Tags:
  <ul id="ref-list">
  @foreach (var r in refs.Where(r => r.RefType != RefType.RemoteBranch).OrderBy(r => r.Name))
  {
    <li><span class="git-icon @(r.RefType == RefType.Tag ? "git-icon-tag" : "git-icon-branch")"></span> @r.Name</li>
  }
  </ul>
</div>
}

<div class="page-section">
@if (currentTree == null || currentTree.Objects.Count == 0)
{
    <span class="empty-tree">There are no files being tracked in this repository.</span>
}
else
{
@Html.Partial("ObjectTree", currentTree)
}
</div>
