@model IEnumerable<LogEntry>

@{
    ViewBag.Title = "Commit Log";
}

@section headers
{
    <script src="@Url.Content("~/Scripts/jquery.timeago.min.js")"></script>
    <link href="@Url.Content("~/Content/browse.css")" rel="stylesheet" type="text/css" />
    <script>
        $(function () {
            $("div.date").timeago();
        });
    </script>

    <link rel="alternate" type="application/atom+xml" href="@Url.Action("Commits", "Syndication", new { repo = ViewBag.RepoName })" title="@ViewBag.RepoName Commits" />
}

<div class="syndication">
    <a href="@Url.Action("Commits", "Syndication", new { repo = ViewBag.RepoName })">@ViewBag.RepoName Commits</a>
</div>

<div class="pager">
    @Html.Pager((int)ViewBag.Page, (int)ViewBag.PageCount, "Browse", "ViewCommits", new { repo = ViewBag.RepoName })
</div>

@foreach (var entry in Model)
{
    @Html.Partial("LogEntry", entry)
}

<div class="pager">
    @Html.Pager((int)ViewBag.Page, (int)ViewBag.PageCount, "Browse", "ViewCommits", new { repo = ViewBag.RepoName })
</div>
